__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

.env
.venv/
env/
venv/

model/
models/
results/
logs/
slurm-*.out
*.out
*.err

data/MM-SafetyBench/
data/VAE/
data/xstest-v2-copy/
data/FigStep/FigImg/
data/JailBreakV_28K/llm_transfer_attack/
data/few_shot/
